
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3> Accounting &  Billing Software</h3>
                <p>A billing and invoicing software helps businesses streamline & automate their day-to-day billing and
                    accounting operations. myBillBook is best billing software in India designed to aid small & medium
                    business owners run their operations from anywhere & anytime. </p>

            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="./assets/about.jpg">
        </div>
    </div>
</div>
