<section id="card-section">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
      <img src="./assets/Expenses.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Expense</h5>
        <p class="card-text text-center">Expenses are records of the amount a company spends on day-to-day costs during a given
          accounting period.</p>
        <div class="text-center">
          <button class="btn" mat-raised-button color="warn" routerLink="/main/expense">See Details</button>
        </div>
      
      </div>
    </div>
   </div>
   <div class="col-md-4">
    <div class="card">
      <img src="./assets/Journal.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Journal</h5>
        <p class="card-text text-center">Journal is a detailed account of all the financial transactions of a business,future reconciling of accounts</p>
        <div class="text-center"><button mat-raised-button  class="btn"color="warn" routerLink="/main/journals">See Details</button>
        </div>
      </div>
    </div>
   </div>
   <div class="col-md-4">
    <div class="card">
      <img src="./assets/Accounts.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Accounts</h5>
        <p class="card-text text-center">An account refers to assets, liabilities, income, expenses, and equity, as represented by individual ledger pages.</p>
        <div class="text-center"><button  class="btn" mat-raised-button color="warn" routerLink="/main/accounts">See Details</button>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="margin-left: 10vw;">
   
      <div class="card">
        <img src="./assets/Report.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Reports</h5>
          <p class="card-text text-center"> Accounting reports are compilations of financial information, derived from the accounting records of a business.</p>
          <div class="text-center"><button class="btn" mat-raised-button color="warn" routerLink="/main/reports">See Details</button>
          </div>
        </div>
      </div>
       
       </div>
    <div class="col-md-4" style="margin-right: 10vw;">
     

      <div class="card">
        <img src="./assets/Invoice2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Invoice</h5>
          <p class="card-text text-center"> Accounting reports are compilations of financial information, derived from the accounting records of a business.</p>
          <div class="text-center"><button class="btn" mat-raised-button color="warn" routerLink="/main/invoice-comp">See Details</button>
          </div>
        </div>
      </div>
       


    </div>
   </div>
</section>