<section class="h-100">
  <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
  <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
    
  <h3 style="color:white">Accounts Details</h3>
  <div class="container">
      <mat-form-field appearance="standard" style="color: white;">
        <mat-label style="color:white ;">Filter Your Records</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter Your Records" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table id="excel-table" mat-table [dataSource]="dataSource" matSort >  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
            <td mat-cell *matCellDef="let row"> {{row.dueDate}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="transaction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense Type </th>
            <td mat-cell *matCellDef="let row"> {{row.expenseType}} </td>
          </ng-container>

          <ng-container matColumnDef="assetType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Type </th>
            <td mat-cell *matCellDef="let row"> {{row.assetType}} </td>
          </ng-container>

          <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Type </th>
            <td mat-cell *matCellDef="let row"> {{row.transactionType}} </td>
          </ng-container>

          <ng-container matColumnDef="FinancialType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Statement </th>
            <td mat-cell *matCellDef="let row"> {{row.financialType}} </td>
          </ng-container>
  
          
         
  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[2,5, 10, 25, 50,100]" aria-label="Select page of users"></mat-paginator>
      </div>

  </div>
  <button pButton type="button" (click)="exportExcel()" class="p-button-raised p-button-rounded btn">Export to Excel</button>
</section>